@page "/AddCourse"

@using System.ComponentModel.DataAnnotations
@inject CourseService courseService

<EditForm Model="@courseModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="text-center">
        <h1 class="h3 mb-3 font-weight-normal">Add the Course</h1>

        <div class="form-group">
            <label for="inputName">Name</label>
            <InputText id="inputName" class="form-control" @bind-Value="courseModel.CourseName" placeholder="Course Name" />
            <ValidationMessage For="@(() => courseModel.CourseName)" />
        </div>

        <div class="form-group">
            <label for="inputHole">Holes</label>
            <InputNumber id="inputHole" class="form-control" @bind-Value="courseModel.Holes" placeholder="How many holes" />
            <ValidationMessage For="@(() => courseModel.Holes)" />
        </div>

        <button type="submit" class="btn btn-lg btn-primary btn-block">Add Course</button>
    </div>
</EditForm>

@code {
    private CourseModel courseModel = new CourseModel();

    private async Task HandleValidSubmit()
    {
        var course = new Course
        {
            CourseName = courseModel.CourseName,
            Holes = courseModel.Holes
        };

        await courseService.SaveCourseAsync(course);
        Console.WriteLine($"Course submitted: {course.CourseName} - {course.Holes}");
    }

    public class CourseModel
    {
        [Required(ErrorMessage = "Name is required.")]
        public string CourseName { get; set; }

        [Required(ErrorMessage = "Amount of holes is required.")]
        [Range(1, 18, ErrorMessage = "Amount of holes must be between 1-18")]
        public int Holes { get; set; }
    }
}