@page "/Courses"

@using System.Collections.Generic

@inject CourseService CourseService

<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Courses in your area</h1>
        </div>
    </section>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                @foreach (var course in CourseList)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="@course.ImageUrl" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">@course.Description</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="/Leaderboards" class="btn btn-outline-secondary">Leaderboards</a>
                                    </div>
                                    <small class="text-muted">@course.Duration</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</main>

@code {
    private List<Course> CourseList { get; set; } = new List<Course>();

    protected override async Task OnInitializedAsync()
    {
        CourseList = await CourseService.GetCoursesAsync();
    }
}
