@page "/Leaderboards"

@using System.Collections.Generic

@inject LeaderboardService LeaderboardService

<div class="container leaderboard-container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="leaderboard-table p-4">
                <div class="table-title">Leaderboard</div>
                <table class="table table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Rank</th>
                            <th scope="col">Player Name</th>
                            <th scope="col">Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in Players)

                        {
                            <tr>
                                <th>@player.Rank</th>
                                <td>@player.Name</td>
                                <td>@player.Score</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<section class="jumbotron text-center">
<div class="container">
    <p>
        <a href="/AddScore" class="btn btn-primary my-2">Add Score</a>
    </p>
</div>
</section>
@code {
    private List<Player> Players { get; set; } = new List<Player>();



    protected override async Task OnInitializedAsync()

    {

        Players = await LeaderboardService.GetLeaderboardAsync();

    }
}