@page "/Leaderboards"

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Album example for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">
</head>

<body>
    <div class="container leaderboard-container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="leaderboard-table p-4">
                    <div class="table-title">Leaderboard</div>
                    <table class="table table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Rank</th>
                                <th scope="col">Player Name</th>
                                <th scope="col">Score</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <th> 1</th>
                                    <td>Logan Wongbangchuad</td>
                                    <td>84</td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
